<form acton="http://www.example.org" method="get">
 <div>
  <label>
   Enter Search: <input type="text" name="search" size="50" />
  </label>
  <br />
   Subfields:
  <label>
   <input type="checkbox" name="subfield1" value="ice" />ice
  </label>
  <label>
   <input type="checkbox" name="subfield1" value="rock" />rock
  </label>
  <label>
   <input type="checkbox" name="subfield1" value="snow" />snow
  </label>
  <label>
   <input type="checkbox" name="subfield1" value="mountaineering" />mountaineering
  </label>
  <br />
  <label>
   <input type="radio" name="radio1" value="new" checked="checked" />new
  </label><br />
  <label>
   <input type="radio" name="radio1" value="used" />used
  </label><br />
  <label>
   <input type="radio" name="radio1" value="both" />both
  </label><br />
  <br />
  <input type="submit" name="search" value="Gear Search" />
 </div>
</form>
