<table border="10">
 <caption>
  Peak List
 </caption>
 <tr>
  <th>Peak Name</th><th colspan="2">Height</th>
 </tr>
 <tr>
  <td>&nbsp;</td><th>ft</th><th>m</th>
 </tr>
 <tr>
  <td>Nanga Parbat</td><td>26,660</td><td>8,126</td>
 </tr>
 <tr>
  <td>K2</td><td>28,251</td><td>8,611</td>
 </tr>
 <tr>
  <td>Anoncagua</td><td>22,838</td><td>6,961</td>
 </tr>
</table>
