<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:jsp="http://java.sun.com/JSP/Page"
  xmlns:c="http://java.sun.com/jsp/jstl/core">
  <jsp:directive.page contentType="text/html" />  
  <jsp:output
    omit-xml-declaration="yes"
    doctype-root-element="html"
    doctype-public="-//W3C//DTD XHTML 1.0 Strict//EN"
    doctype-system="http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
    />
  <head> 
    <title>Error in My Own Blog entry</title> 
    <link rel='stylesheet' href='/MyOwnBlog/style.css' 
          type='text/css' /> 
  </head> 
  <body> 
    <h1>Error Parsing Blog Text</h1> 
    <p> 
      An error occurred at line ${SAXException.lineNumber},
      column ${SAXException.columnNumber}: 
      <c:choose>
        <c:when test="${!(empty SAXException.exception)}">
          <c:out value="${SAXException.exception}" />
        </c:when>
        <c:otherwise>
          <c:out value="${SAXException}" />
        </c:otherwise>
      </c:choose>
    </p> 
  </body> 
</html>
